#uploaded{
  background-color: lightgreen;
  color: black;
}

#non{
background-color: lightcoral;
color: black;
}

#correction-deadline{
  background-color: lightblue;
  color: black;
}

#blck-bnnr{
  background-color: black;
  color: white;
}

#whts-bnnr{
  background-color: #25D366;
  color: white;
  border: none;
}

#alert-bnnr{
  color: rgb(255, 0, 0);
}

