#uploaded{
  background-color: lightgreen;
  color: black;
}

#non{
background-color: lightcoral;
color: black;
}

#correction-deadline{
  background-color: lightblue;
  color: black;
}

#blck-bnnr{
  background-color: black;
  color: white;
}